.title
{
  color: #FDFCDC;
  font-family: 'Arial';
}

.navbar-dark
{
  background-color: #0081A7;
}

.footer
{
  background-color: #0081A7;
}

.content
{
  text-align: justify;
}

.row-odd
{
  background-color: #FDFCDC;
}

.row-even
{
  background-color: #FED9B7;
}

Button:hover
{
  background-color: #0081A7;
}