.navbar-dark
{
  background-color: #0081A7;
}

.footer
{
  background-color: #0081A7;
}

.footer-title
{
  color: #FDFCDC;
}

.list-item
{
  color: #FED9B7;
}

.list-item:hover
{
  color: #FDFCDC;
}

.content
{
  text-align: justify;
}

.row-odd
{
  background-color: #FDFCDC;
}

.row-even
{
  background-color: #FED9B7;
}

.nav-link
{
  color: #FED9B7;
}

.jumbotron
{
  margin-bottom: 0;
}

.activeClass:hover
{
  background-color: #FDFCDC;
  color: #0081A7;
}

.activeClass:active
{
  background-color: #FDFCDC;
  color: #0081A7;
}